body{ background-color: #222;}

.container{
    margin-top: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 40px;
    font-weight: 700;
    width: 40px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 50%;
    background-color: #444;
    box-shadow: 0 0 8px 1px;
    transition: .5s;
  }
  .ico1:hover{ color: #0051ff; }
  .ico2:hover{ color: #80c8ff;}
  .ico3:hover{ color:  #db0cc3;}
  .ico4:hover{ color: #ff0808}


  